
StarterTestConsoleApp/.vs/StarterTestConsoleApp/FileContentIndex/cd57e066-115c-4933-b659-08ac4dd72043.vsidx
StarterTestConsoleApp/.vs/StarterTestConsoleApp/FileContentIndex/read.lock
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/.suo
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/Browse.VC.db
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/Browse.VC.db-shm
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/Browse.VC.db-wal
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/Browse.VC.opendb
StarterTestConsoleApp/.vs/StarterTestConsoleApp/v17/ipch/AutoPCH/e36f35a779f67457/STARTERTESTCONSOLEAPP.ipch
